
  .VideoSection{
    position: relative;
    /* width:100%; 
    height: 600px; */
    overflow: hidden;
    object-fit: contain; 
    background-color: black;
  }
  
  .VideoContainer{
      position: relative;
      width: 100%; 
      height: auto; 
      object-fit: contain;
    }
  
    .Mouse {
      content: '';
      position: absolute;
      width:30px;
      height: 45px;
      top: 70%;
      left: 48%;
      background-color: transparent;
      border: 2px solid black;
      border-radius: 15px 15px 15px 15px;
      z-index: 2;
      transition: 0.5s;
    }
  
    .Mouse:before {
      content: '';
      position: absolute; 
      height: 10px;
      top: 10%;
      left: 49.2%;
      border: 1px solid black; 
      z-index: 1;
      transition: 0.5s;
    }
    
    .Mouse:hover:before{
      top:60%;
      border-color: #3AC280;
    }
  
    .Mouse:hover
    {
      border-color: #3AC280;
    }
  
    .videotext{
      width: 450px;
      background-color: transparent; 
      color: white;
      font-size: 35px;
      text-align: center;
      z-index: 1;
    }
  
    .videotextcontainer{
      content: '';
      position: absolute;
      top:0%;
      width:100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;    
      object-fit: contain;
    }
  
    @media only screen and (max-width: 1150px) {
      .Mouse{
        top: 70%;
      }
    }
  
    @media only screen and (max-width: 800px) {
      .Mouse{
        display: none;
      }
      .videotext{
        font-size: auto;
      }
      .videotextcontainer{
        top:0;
        height: 250px;
      }
    }
  
    @media only screen and (max-width: 415px) {
      .Mouse{
        display: none;
      }
      .videotext{
        font-size: 16px;
      }
    }
  