.FormSection {
  width: 100%;
  z-index: 3;
  padding: 100px 100px;
  margin-top: 50px;
  text-align: center;
}

.ChiwHeading {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 42px;
  font-weight: bold;
  z-index: 1;
  margin-bottom: 50px;
}

.ChiwHeading:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0.1;
  margin: auto;
  margin-top: -70px;
  margin-left: 5px;
  background-image: url("./Blue_circle.png");
  background-position: center;
  background-size: contain;
  z-index: 100%;
}

.FormSection form {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0 0px;
  width: 100%;
  height: 100%;
}

.FormInputs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 95%;
  height: 250px;
}
.Wrapper{
  position: relative;
}
.Wrapper label{
  position: absolute;
  left: 30px;
  top: 10px;
  font-size: 20px;
  z-index: 2;
  background-color: white;
  transition: 0.5s;
}

.Wrapper input:focus + label {
  top:-10px;
  font-size: 12px;
}

.Wrapper {
  height: 100%;
}

.FormInputs input {
  width: 100%;
  border-radius: 10px;
  outline: none;
  height: 50px;
  padding: 0px 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.FormTextArea {
  position: relative;
  width: 100%;
  height: 100%;
}

.FormTextArea textarea {
  border-radius: 10px;
  outline: none;
  width: 95%;
  padding: 20px 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 220px;
  resize: none;
}

.FormTextArea label {
  position: absolute;
  left: 50px;
  top: 10px;
  font-size: 20px;
  /* width: 200px; */
  background-color: white;
  transition: 0.5s;
  z-index: 2;
}

.FormTextArea textarea:focus + label {
  margin-top: -20px;
  margin-left: 20px;
  font-size: 12px;
  /* width: 120px; */
}

.ChiWButton {
  margin-top: 50px;
  border-radius: 20px;
  background-color: #3ac280;
  outline: none;
  border: none;
  color: white;
  width: 140px;
  height: 40px;
  text-align: center;
  transition: 0.5s;
}

@media only screen and (max-width: 1050px) {
  .FormSection form {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 450px) {

  .FormSection{
    padding: 50px 25px;
  }
}