.HowItWorkSection{
    background-color: rgba(0, 0, 0, 0.1);
    width:100%;
    z-index: 3;
    padding:150px 100px;
    text-align: center;
}

.HiwCard{
    display: flex; 
    width:100%;
    height:auto;
    color:#0a5169;
    text-align: justify;
}

.HiwCard h1{
    font-size: 170px; 
}
.ImageSet{
    background-image: url('./blue-circleF.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    margin-top: -100px;
    opacity: 0.1;
    
}
.HiwCard div{
    padding:100px 0px 0px 0px;
    color:black;
}
.HiwCardContainer{
    display: flex;    
}

.hiwHeading{
    position: relative;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    font-size:42px;
    font-weight: bold;
    z-index: 1;
    margin-bottom:50px;
}

.hiwHeading:before{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.1;
    margin:auto;
    margin-top:-70px;
    margin-left:40px;
    background-image: url('./Blue_circle.png');
    background-position: center;
    background-size: contain;
    z-index: 100%;
}

.hiWButton{
    margin-top: 50px;
    border-radius: 20px;
    background-color:  #3AC280;
    outline: none;
    border: none;
    color: white;
    width: 140px;
    height: 40px;
    text-align: center; 
    transition: 0.5s;
}

@media only screen and (max-width: 1050px) {

    .HowItWorkSection{
        padding: 150px 25px;
        width: 100%;
        height: 100%vw;
    }
    .HiwCardContainer {
        flex-wrap: wrap;
        padding:100px 0px;
        height: 100%;
    }

}