.HowItWorkSection{
    background-color: rgba(0, 0, 0, 0.1);
    width:100%;
    z-index: 3;
    padding:100px 100px;
    text-align: center;
}

.HiwCard{
    display: flex; 
    width:100%;
    height:auto;
    color:#0a5169;
    text-align: justify;
}


.ImageSet{
    position: relative;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    font-size:42px;
    font-weight: bold;
    z-index: 1;
    margin-bottom:50px;
    font-size: 170px;
}

.ImageSet:before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0.1;
    margin:auto;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    background-image: url('./blue-circleF.png');
    background-position: bottom;
    background-size: contain;
    z-index: -1;
}

.HiwCard div{
    padding:100px 0px 0px 0px;
    color:black;
}
.HiwCardContainer{
    display: flex;    
}

.hiWButton{
    margin-top: 50px;
    border-radius: 20px;
    background-color:  #3AC280;
    outline: none;
    border: none;
    color: white;
    width: 140px;
    height: 40px;
    text-align: center; 
    transition: 0.5s;
}

@media only screen and (max-width: 1050px) {

    .HowItWorkSection{
        padding: 150px 100px;
        width: 100%;
        height: 100%vw;
    }
    .HiwCardContainer {
        flex-wrap: wrap;
        padding:100px 0px;
        height: 100%;
    }

    .ImageSet{
        padding: 0;
        margin: 0 ;
        text-align: center;
        overflow: hidden;
    }
    .ImageSet:before{
        /* width:100%;
        height: 100%; */
        top:80px;
        text-align: center;
        background-image: url('./blue-circleF.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
        opacity: 0.1;        
        /* overflow: hidden; */
    }

}

@media only screen and (max-width: 650px) {

    .HowItWorkSection{
        padding:50px 25px;
    }

    .HiwCard div{
        padding:50px 0px 0px 0px;
        color:black;
    }
    .HiwCard{
        flex-direction: column;        
    }   
    .ImageSet{
        padding: 0;
        margin: 0 ;
        text-align: center;
        overflow: hidden;
    }
    .ImageSet:before{
        width:100%;
        height: 100%;
        top:120px;
        text-align: center;
        background-image: url('./blue-circleF.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        opacity: 0.1;        
        overflow: hidden;
    }
    .HiwCard div{
        padding: 0;
        text-align: center;
    }   
}